<div>
	<h1>{{courseData.name}}</h1>
	<div class="form-group">
		<label for="descInput">Owner</label>
		<input type="text" class="form-control" id="nameInput" placeholder="Owner" disabled>
	</div>
	<table class="table table-striped">
	<tr> 
	<th>Name</th>
	</tr>
	
	<tr  ng-repeat="teacher in teachers">
	<td> {{teacher.title}}  {{teacher.name}}  {{teacher.lastname}}</td>
	</tr>
	</table>
	<div align="right" style="padding-bottom: 10px">
			<a ui-sref="courseedit({courseid: courseData.name})">
			 	<button type="submit" class="btn btn-default">Cancel</button>
		 	</a>
		 	<button type="submit" class="btn btn-primary">Save</button>
	</div>
</div>