<div>
	<h2>Zajecia prowadzacego:</h2>

  <table class="table table-striped" >
    <thead>
       <tr>
         <th>Nazwa</th>
         <th>Opis</th>
         <th>Status</th>
       </tr>
    </thead>
    <tr ng-repeat="x in records">
      <td class="danger">{{ x.name }}</td>
      <td class="success">{{ x.syllabus }}</td>
      <td class="info">{{ x.state }}</td>
      <td class="warning">
        <div class="form-group">
          <button ng-click='editClick(x.code)' class="btn btn-default">Edytuj</button>
          <button ng-click='deleteClick(x.code)' class="btn btn-default">Usun</button>
        </div>
      </td>
    </tr>
  </table>
  <div align="right">
       <button ng-click='addClick(x.code)' class="btn btn-primary">Utworz przedmiot</button>
  </div>

</div>
