<div>
	<h2>Edit {{courseDesc.code}}</h2>

	<form>
		<div class="form-group">
			<form>
			<div class="form-group">
				<label for="nameInput">Course name</label>
    			<input type="text" class="form-control" id="nameInput" placeholder="Course name" ng-model="courseDesc.name">
			</div>

			<div class="form-group">
				<label for="descInput">Description</label>
    			<textarea class="form-control" id="descInput" placeholder="Description" rows=5 ng-model="courseDesc.syllabus"> </textarea>
			</div>
			<div>
        <select  class="form-control" ng-options='o.full_name for o in tutors' ng-model="courseDescSelectedTutor"></select>
      </div>
        <div align="right" style="padding-top: 10px">
				 <button type="submit" class="btn btn-default" ng-click="goBack()">Cancel</button>
				 <button type="submit" class="btn btn-primary" ng-click="saveCourse()">Save</button>
      </div>

			</form>
      <div style="padding-top: 10px">
        <a ui-sref="studentList({courseid: courseDesc.code})">
         <button type="submit" class="btn btn-primary">Student List</button>
        </a>
        <button type="submit" class="btn btn-primary" ng-click="createType()">Dodaj Zajęcia</button>
      </div>

      <h3 style="padding-top: 20px; padding-bottom: 20px">Classes</h3>
      <div style="padding-top: 10px">
        <table class="table table-striped">
          <tr>
            <th>Id.</th>
            <th>Opis</th>
            <th  class="text-right" >Operation</th>
          </tr>
          <tr ng-repeat="x in classType">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td class="text-right" >
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>

        </table>
      </div>



		</div>
	</form>
</div>
