<div>
	<h2>Edit {{courseDesc.code}}</h2>
` <h3>
    <button ng-if="isOpened" type="button" class="btn btn-default" ng-click="saveCourse(1)">Close registration</button>
    <button ng-if="!isOpened" type="button" class="btn btn-default" ng-click="saveCourse(0)">Open registration</button>
  </h3>
	<form>
		<div class="form-group">
			<form>
			<div class="form-group">
				<label for="nameInput">Course name</label>
    			<input type="text" class="form-control" id="nameInput" placeholder="Course name" ng-model="courseDesc.name">
			</div>

			<div class="form-group">
				<label for="descInput">Description</label>
    			<textarea class="form-control" id="descInput" placeholder="Description" rows=5 ng-model="courseDesc.syllabus"> </textarea>
			</div>
			<div>
        <select  class="form-control" ng-options='o.full_name for o in tutors' ng-model="courseDescSelectedTutor"></select>
      </div>
        <div align="right" style="padding-top: 10px">
				 <button type="submit" class="btn btn-default" ng-click="goBack()">Cancel</button>
         <button type="submit" class="btn btn-default" ng-click="clearData()">Clear data</button>
				 <button type="submit" class="btn btn-primary" ng-click="saveCourse()">Save</button>
      </div>

			</form>
      <div style="padding-top: 10px">
        <a ui-sref="studentList({courseid: courseDesc.code})">
         <button type="submit" class="btn btn-primary">Student List</button>
        </a>
        <button type="submit" class="btn btn-primary" ng-click="createType()">Dodaj Zajęcia</button>
      </div>

      <h3 style="padding-top: 20px; padding-bottom: 20px">Classes</h3>
      <div style="padding-top: 10px">
        <table class="table table-striped">
          <tr>
            <th>Id.</th>
            <th>Opis</th>
            <th>Grupy</th>
            <th>Terminy</th>
            <th  class="text-right" >Operation</th>
          </tr>
          <tr ng-repeat="x in classType">
            <td style="color: grey">{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.group_open}}</td>
            <td>
              <table class="table table-striped">
                <tr ng-repeat="y in x.time_slots">
                  <td width="50%" ><span style="color: grey; ">{{y.day}}</span></td>
                  <td width="20%"><span style="color: grey; ">{{y.time_start}}</span></td>
                  <td width="10%"><span style="color: grey; ">-</span></td>
                  <td width="20%"><span style="color: grey; ">{{y.time_end}}</span></td>
                </tr>
              </table>
            </td>
            <td class="text-right" >
              <div>
                <button type="button" class="btn btn-default btn-sm" ng-click="removeType(x.id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm" ng-click="editType(x.id)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="submit" class="btn btn-primary" ng-click="acceptTimeSlot(x.id)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>
              <div>
                <button  type="button" class="btn btn-default" id="buttonGropus" ng-click="manageGropus(x.id)">
                  <span class="button">Grupy</span>
                </button>
              </div>

            </td>
          </tr>

        </table>
      </div>



		</div>
	</form>
</div>
