<div>
<h2>
Lista studentów
</h2>

<table class="table table-striped">
	<tr>
		<th>Nazwa użytkownika</th>
		<th>Imię i nazwisko</th>
		<th  class="text-right" >Operacje</th>
	</tr>
	<tr ng-repeat="student in students">
		<td>{{student.username}}</td>
		<td>{{student.full_name}}</td>
		<td class="text-right" > 
			<button type="button" class="btn btn-default btn-sm" ng-click="remove(student.username)">
				<span class="glyphicon glyphicon-remove" ></span>
			</button>
		</td>
	</tr>

</table>

<button type="submit" class="btn btn-default" ng-click="back()">Wróć</button> 

</div>